body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 00;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background-color: black;
}

#wrapper{
	width: 100%;
  margin: 0;
}

.label {
	margin: 1;
	padding: 1;
}
.item-row{
	color:white;
	padding:px;
	width:115px;
}
.item-filter{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.item-filter.active{
	color:#0cf;
}
.item-filter.active:hover{
	text-decoration: none;
	cursor:default;
}
.item-filter:hover{
	cursor:pointer;
	cursor:hand;
	text-decoration: underline;
}
.li-header{
	list-style:none;
	font-weight:bold;
	position:relative;
	left:-17px;
}